* {
    padding: 0;
    margin: 0;
    box-sizing: border-box; 
}

@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

:root {
    --corCinzaAzulEscuro: rgb(14, 14, 25);
    --corAzulClaro: #6092ac;
    --corCinzaEscuro: #1e1f29;


}

body {
    background-color: white;
}

/* Nav do site */

.nav_principal {
    width: 100%;
    display: flex;
    justify-content: right;
    align-items: right;
    background-color: black;
    box-shadow: 0px 0px 10px black;
}

.btn-menu {
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-size: 17px;
    text-align: right;
    margin: 20px;
}

.btn-menu a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 10px;
    transition: .3s;
    border-radius: 5px;
}

.btn-menu a:hover {
    background-color: white;
    color: black;
    border-radius: 20px 5px;
}

/* -----Main do Site----- */

main {
    width: 100%;
    height: 100%;
    background-color: var(--corAzulClaro);
    background-image: url('../imgs/pexels-pavel-danilyuk-7191163.jpg');
    background-size: cover;
}

.bloco-container {
    background-color: #000000a9;
    width: 100%;
    height: 100%;
}

.titulo-site {
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-size: 40px;
    text-align: center;
    color: white;
    padding-top: 90px;
}

.descricao-main {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    text-align: center;
    margin: 15px;
    color: rgb(209, 229, 255);
}

.btn-loja {
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    padding: 50px 0px 200px 0px;
}

.btn-loja a {
    color: white;
    background-color: #1885d3;
    text-decoration: none;
    border-radius: 20px;
    padding: 10px 70px;
    transition: .3s;
}

.btn-loja a:hover {
    background-color: #040f17;
    padding: 10px 80px;
    border-radius: 10px 20px;
}

/* Produtos do Site */

.container-produtos {
    background-color: white;
    width: 100%;
    height: 100%;
    text-align: center;
}

.produtos {
    display: inline-table;
    width: 200px;
    height: 100%;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.249);
    margin: 10px;
    background-color: rgb(11, 15, 15);
}

.produtos img {
    width: 200px;
}

.nome-produto {
    font-family: 'Lato', sans-serif;
    padding: 6px 0px 5px 6px;
    color: white;
    font-weight: bold;
    text-align: left;
}

.preco-produto {
    font-family: 'Lato', sans-serif;
    padding: 6px 0px 5px 6px;
    color: white;
    text-align: left;
}

.adicionar-carrinho {
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    padding: 25px 0px 20px 0px;
    text-align: center;
}

.adicionar-carrinho a {
    color: white;
    background-color: #008db8;
    text-decoration: none;
    padding: 10px 17px;
    transition: .3s;
}

.adicionar-carrinho a:hover {
    color: white;
    background-color: #006483;

}

/* Anúncios do Site */

.container-anuncio-home {
    width: 100%;
    height: 100%;
    background-color: black;
    animation: rgb-div 7s infinite;
}

@keyframes rgb-div {
}

.container-anuncio-home h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: orange;
    padding: 60px 0px 60px 30px;
    font-size: 55px;
    text-align: center;
}

.btn-anuncio {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    padding: 40px 0px;
}

.btn-anuncio a {
    color: white;
    background-color: rgb(0, 119, 255);
    border-radius: 8px;
    padding: 10px 20px;
    transition: .3s;
    text-decoration: none;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.411);
}

.btn-anuncio a:hover {
    background-color: rgb(0, 27, 58);
    border-radius: 8px 17px;
    box-shadow: none;
}

.container-infos {
    text-align: center;
    width: 100%;
    height: 100%;
    padding: 30px 0px;
    background-color: rgb(12, 12, 18);
    margin-bottom: 30px;
}

.bloco-info {
    display: inline-table;
    width: 200px;
    height: 250px;
    background-color: white;
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.487);
    margin: 15px 20px;
    border-radius: 20px;
    transition: .4s;
    animation: bloco-mover 4s;
}

.bloco-info:hover {
    width: 210px;
    height: 260px;
    background-color: black;
    color: white;
    border-radius: 10px;
}

.bloco-info p {
    font-family: 'Montserrta', sans-serif;
    font-weight: bolder;
    font-size: 28px;
    text-align: center;
    padding: 30px 0px;
}

@keyframes bloco-mover {
    0% {
        transform:translateY(120px)
    }

    100% {
        transform:translateX(0px)
    }

    from { 
        opacity: 0;
        width: 300px;
        border-radius: 0px;
    }

    to {
        opacity: 1;
        width: 200px;
        border-radius: 20px;
    }
}

/* Login do Site */

.container-login {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.bloco-login {
    margin: 80px 0px;
    width: 300px;
    height: 400px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.439);
}

.nome-input {
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    margin: 8px;
    color: black;
    margin: 25px 0px 0px 20px;
}

.input-login {
    border: .5px solid rgb(0, 0, 0);
    font-size: 16px;
    border-radius: 5px;
    padding: 5px;
    margin: 5px 0px 0px 20px;
    width: 260px;
    height: 38px;
    outline-color: #1885d3;
}

.btn-login {
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    text-align: center;
    margin-top: 60px;
}

.btn-login a {
    color: white;
    background-color: #1885d3;
    text-decoration: none;
    padding: 10px 80px;
    border-radius: 5px;
    transition: .3s;
}

.btn-login a:hover {
    background-color: #094774;
    padding: 10px 100px;
}

::-webkit-input-placeholder {
    color: rgb(53, 53, 57);
    font-size: 15px;
}

.info-login {
    font-family: 'Lato', sans-serif;
    text-align: center;
    font-size: 15px;
    margin-top: 22px;
    color: #878787;
    text-decoration: underline;
    cursor: pointer;
}

/* Loja do Site */

.container-produtos-loja {
    background-color: white;
    width: 100%;
    height: 100%;
    text-align: center;
}

/* Footer do site */

footer {
    background-color: #0f1014;
    width: 100%;
    height: 300px;
}

.btn-footer {
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    text-align: center;
    padding-top: 60px;
}

.btn-footer a {
    color: white;
    text-decoration: none;
    transition: .3s;
    padding: 10px;
}

.btn-footer a:hover {
    background-color: #008db8;
}

.direitos-autorais {
    font-family: 'Lato', sans-serif;
    color: rgb(175, 175, 175);
    text-align: center;
    margin-top: 80px;
    line-height: 20px;
}